data/
config/
tester/*.pt
.idea/
*.iml
.venv/
vcs.xml
modules.xml
profiles_settings.xml
Project_Default.xml
*.DS_Store

docs/**/*.acn
docs/**/*.acr
docs/**/*.alg
docs/**/*.aux
docs/**/*.bbl
docs/**/*.bcf
docs/**/*.blg
docs/**/*.glg
docs/**/*.glo
docs/**/*.gls
docs/**/*.ist
docs/**/*.log
docs/**/*.run.xml
docs/**/*.synctex.gz
docs/**/*.toc
